@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
 
  * {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
  }

  .form-control::placeholder {
    font-size: 12px;
  }

 .App {
    text-align: center;
  }

  .sboard {
    overflow-y: scroll;
    height: 150px;
    background: #dadada;
    padding: 15px;
    border-radius: 5px;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  /* style.css */

  .col-3 {
      width: 33.33%;
  }

  .w-100 {
      width: 100px;
  }

  .row {
      display: flex;
  }

  .text-center {
      text-align: center;
  }

  .d-flex {
      display: flex;
  }

  .flex-1 {
      flex: 1;
  }

  .p-5 {
      padding: 5;
  }

  .box-size {
      display: flex;
      width: 70px;
      height: 70px;
      text-align: center;
      justify-content: center;
      align-items: center;
      cursor: pointer;
  }

  .div-custom-form {
    padding: 25px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  }

  .border-white {
      border: 1px solid #fff;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .main-container {
    background-color: #ADD8E6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  